.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background: #4e75ff;
  border-radius: 8px;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  transition: background-color var(--animation-duration) var(--timing-function);
}

.button:hover {
  background-color: #6c8cff;
}
